{% load static %}

{% load permission_tags %}

<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teonas Blog</title>
    <meta name="description" content="Site for access html">
    <meta name="author" content="Teonas">
    <!--Social media-->
    <meta property="og:title" content="A Basic HTML5 Template">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
    <meta property="og:description" content="A simple HTML5 Template for new projects.">
    <meta property="og:image" content="image.png">
    <!--icos-->
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<body>

    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <div class="container">
            <div class="container-fluid container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <a class="navbar-brand" href=" {% url 'core:home' %} ">LOGO HERE</a>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 nav-pills">

                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Bem vindo, {{user.username}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog:post_list' %}">Blog<span class="glyphicon glyphicon-plus"></span></a>
                            </li>
                            {% if user|can:'can_publish' %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'blog:post_new' %}">new post<span class="glyphicon glyphicon-plus"></span></a>
                                </li>
                            {% endif %}
                            {% if user|has_role:'administrator' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:dashboard' %}">Painel<span class="glyphicon glyphicon-plus"></span></a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'core:contact' %}">Contato<span class="glyphicon glyphicon-plus"></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:logout' %}">Logout</a>
                            </li>
                        {% else %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:login' %}">Login</a>
                        </li>

                    {% endif %}

                    </ul>

                    <form class="form-inline" role="search">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    {% include 'core/includes/messages.html' %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="sm-col-12">
                <h1><a href="/">Blog</a></h1>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>

</html>