{% extends 'core/base.html' %}

{% block content %}

<div>
    {% if user.is_authenticated %}
    <p>
        Você está logado e dentro do blog
    </p>
    {% else %}
    <p>
        Você deveria logar para acessar o blog
    </p>
    {% endif %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>opa amigo</p>
</div>

{% endblock %}